@model IEnumerable<LibraryRepository.Models.Library>

@{
    ViewData["Title"] = "Libraries list";
}

<h1>Libraries list</h1>

<p>
    <a asp-action="Create">Create New Library</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfList)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach ( Library item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ShelfList.Count)
            </td>
               
           
               <td>
                    @Html.ActionLink("Library details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Add new shelf", "AddShelf", new { libraryId = item.Id }, new { @class = "btn btn-primary" })

               </td>
    </tr>
}
    </tbody>
</table>
